name: Toolchain

on:
  push:
    paths:
      - '.github/workflows/toolchain.yml'
      - 'toolchain/**'
      - '!toolchain/*.md'
  workflow_dispatch:

jobs:

  common:
    name: Build (common)
    runs-on: ubuntu-latest
    steps:

      - name: Check out code
        uses: actions/checkout@v6

      - name: Set up builder
        uses: docker/setup-buildx-action@v3

      - name: Build (baseline)
        uses: docker/build-push-action@v6
        with:
          context: toolchain
          target: baseline
          push: false
          cache-to: |
            type=gha,mode=max,scope=${{ github.ref_name }}-common

      - name: Build (source)
        uses: docker/build-push-action@v6
        with:
          context: toolchain
          target: source
          push: false
          cache-to: |
            type=gha,mode=max,scope=${{ github.ref_name }}-common

  build:
    name: Build
    runs-on: ubuntu-latest
    needs: common
    permissions:
      contents: read
      packages: write
    strategy:
      fail-fast: false
      matrix:
        arch:
          - arm32
          - arm64
          - i386
          - loong64
          - riscv32
          - riscv64
          - x86_64
    env:
      pkgname: ipxe-builder-${{ matrix.arch }}
      reponame: ghcr.io/${{ github.repository_owner }}
    steps:

      - name: Check out code
        uses: actions/checkout@v6

      - name: Login
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up builder
        uses: docker/setup-buildx-action@v3

      - name: Build (${{ matrix.arch }})
        uses: docker/build-push-action@v6
        with:
          context: toolchain
          target: ${{ matrix.arch }}
          push: true
          cache-from: |
            type=gha,mode=max,scope=${{ github.ref_name }}-common
          tags: |
            ${{ env.reponame }}/${{ env.pkgname }}:draft-${{ github.sha }}

      - name: Build (checker)
        uses: docker/build-push-action@v6
        with:
          context: toolchain
          target: checker
          build-args: |
            ARCH=${{ matrix.arch }}
          push: false
          load: true
          tags: |
            ${{ env.pkgname }}-check

      - name: Test
        run: |
          docker run --rm ${{ env.pkgname }}-check

  publish:
    name: Publish
    runs-on: ubuntu-latest
    needs: build
    permissions:
      contents: read
      packages: write
    strategy:
      fail-fast: false
      matrix:
        arch:
          - arm32
          - arm64
          - i386
          - loong64
          - riscv32
          - riscv64
          - x86_64
    env:
      pkgname: ipxe-builder-${{ matrix.arch }}
      reponame: ghcr.io/${{ github.repository_owner }}
    steps:

      - name: Login
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up builder
        uses: docker/setup-buildx-action@v3

      - name: Publish
        run: |
          docker buildx imagetools create \
            --tag ${{ env.reponame }}/${{ env.pkgname }}:latest \
            ${{ env.reponame }}/${{ env.pkgname }}:draft-${{ github.sha }}
